.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #a9a9a9;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
  overflow: hidden;
  background-color:#2F3F73;
}

.nav-link {
  float: left;
  color: #a9a9a9;
  background-color: #2F3F73;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #505F90;
}

.nav-right {
  float: right;
}